/* Add a black background color to the top navigation */
.topnav {
    background-color: #00F;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav p {
    color: #f2f2f2;
    text-align: center;
    font-size: 8vw;
}

#form{
  margin-top: 50px;
  width: 95.7vw;
  height: auto;
}

#recipients {
    background: #C0C0C0;
    float:left;
    width: inherit;
}

#title {
    background: #C0C0C0;
    margin-top: 2vw;
    float:left;
    clear: left;
    width: inherit;
}

#textBox {
    background: #C0C0C0;
    margin-top: 2vw;
    float:left;
    clear: left;
    width: inherit;
}

p {
    text-align: center;
    font-size: 8vw;
    vertical-align: middle;
    line-height: 50px;
    margin: 2vw;
    font-family: Lato;
}

button{
    margin-left: 25%;
    background-color: #00F;
    margin-top: 2vw;
    width: 50%;
    float:left;
}

button p{
    color: #f2f2f2;
    text-align: center;
    font-size: 8vw;
}
