/* Add a black background color to the top navigation */
.topnav {
    background-color: #00F;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav p {
    color: #f2f2f2;
    text-align: center;
    font-size: 8vw;
}

#messages{
    margin-top: 2vw;
    width: 100vw;
    height: auto;
}

#message1 {
    background: #C0C0C0;
    float:left;
}

#message2 {
    background: #C0C0C0;
    margin-top: 2vw;
    float:left;
    clear: left;
}

p {
    text-align: center;
    font-size: 8vw;
    vertical-align: middle;
    line-height: 50px;
    margin: 2vw;
    font-family: Lato;
}

.confirm {
    width: 48vw;
    height: auto;
    background: green;
    float: left;
}

.reject {
    width: 48vw;
    height: auto;
    background: red ;
    float: right;
}
